html {
	font-family: "DejaVu Serif", "Times New Roman", serif;
	color-scheme: light dark;
}

body {
	padding: 0 2em;
	margin: 30px auto;
	max-width: 80ch;
}

.c {
	text-align: center;
}

pre,code {
	font-family: "Ubuntu Mono", "SF Mono", Consolas, Menlo, monospace;
	font-size: 0.875rem;
}

table {
	/*display: table;*/
	margin: 0 auto;
	border-spacing: 0.5ex;
}
